@tailwind base;
@tailwind components;
@tailwind utilities;

body, html { 
    overflow-x: hidden; 
    overflow-y: auto;
}


.lightdots {
    background: linear-gradient(90deg, #f9fafb 15px, transparent 1%) center,
    linear-gradient(#f9fafb 15px, transparent 1%) center, rgba(0, 0, 0, 0.24);


  background-size: 16px 16px;



}